#root {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* LoginStart.jsx styles */

.login-back-button {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.login-back-button #login-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-back-button #login-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

.login-back-button #login-mobile img {
  margin-right: 15px;
}

.login-back-button #login-header-back {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-back-button #login-header-back img {
  height: 24px;
  width: 24px;
  margin-left: 15px;
}

.login-container {
  margin-top: 60px;
  width: 340px;
  height: 585px;
  background-color: #ffffff;
  border-radius: 26px;
  border: 1px solid #16488864;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container .logo {
  width: 178px;
  height: 29.22px;
}

.login-container .register-heading {
  color: #404040;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.login-email {
  width: 290px;
  height: 71.64px;
  padding: 8px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.login-email label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.login-email input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: #404040;
}

.login-email input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.login-password {
  width: 290px;
  height: 71.64px;
  padding: 8px 8px 8px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.login-password label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.login-password input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.login-password input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.login-container .login-pass-popup {

  width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;

}

.login-container .login-pass-popup p {

  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #ee3c3c;
  margin: 0;

}

.login-container .forgot-pass {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #248CC5;
  margin-top: 28px;
  opacity: 0.9;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
}

.login-container .submit-btn {
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  color: white;
}

.login-container .submit-btn:disabled {
  color: #e8e8e8;
}

.login-bottom {
  margin-top: 17px;
}

.login-bottom p {
font-family: "Montserrat", serif;
font-weight: 500;
font-size: 12px;
color: #474747;
}

.login-bottom .register-btn {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #248CC5;
  margin-top: 32px;
  opacity: 0.9;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
}


/* RegisterForm.jsx styles */


#register-background {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#register-background .register-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#register-background .register-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

#register-background .register-mobile img {
  margin-right: 15px;
}

#register-background .register-header {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#register-background .register-header img {
  height: 24px;
  width: 24px;
  margin-left: 15px;
}

.register-container {
  margin-top: 30px;
  width: 340px;
  height: 650px;
  border-radius: 26px;
  border: 1px solid #164864;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.register-container .logo {
  width: 178px;
  height: 29.22px;
}

.register-container .heading-h4 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #164864;
}

.register-container .first-last-name {
  width: 290px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0px;
}

.register-container .first-last-name label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.register-container .first-last-name input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
  margin-top: 0px;
}

.register-container .first-last-name input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

#replacementName {
  margin: 0px 0px 0px 0px;
  height: 10px;
}

#name-popup {
  height: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 195px;
}

#name-popup .paragraph{
  color: red;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  margin: 0px 0px 0px 5px;  
}

.register-container .register-email {
  width: 290px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 10px;
}

.register-container .register-email label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.register-container .register-email input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.register-container .register-email input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.register-container .email-popup {
  width: 282px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.register-container .email-popup p {
  font-family: "Montserrat", serif;
  font-size: 12px;
  color: #ee3c3c;
  font-weight: 500;
  letter-spacing: -0.32px;
  padding: 0;
  margin: 0;
}

#replacement {
  color: transparent;
  margin: 0;
  font-size: 12px;
}

#replacementPass {

  color: transparent;
  margin: 0;
  font-size: 14px;

}

.register-container .password {
  width: 290px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.register-container .password label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.register-container .password input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.register-container .password input::placeholder{
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.register-container .password-popup {
  width: 282px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 4px 0px 0px 6px;
}

.register-container .password-popup p {
  font-family: "Montserrat", serif;
  font-size: 12px;
  color: #ee3c3c;
  font-weight: 500;
  letter-spacing: -0.32px;
  padding: 0;
  margin: 0;
}

.register-container .confirm-password{
  width: 290px;
  height: 71px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.register-container .confirm-password label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.register-container .confirm-password input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.register-container .confirm-password input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
}

.register-container .confirm-pass-popup {
  width: 282px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin: 1px 0px 0px 5px;
}

.register-container .confirm-pass-popup p {

  font-family: "Montserrat", serif;
  font-size: 12px;
  color: #ee3c3c;
  font-weight: 500;
  letter-spacing: -0.32px;
  padding: 0;
  margin: 0;

}

.register-container .register-btn {

  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  margin-top: 45px;
  margin-left: 5px;
  color: white;
}

.register-container .register-btn:disabled {
  color: #e8e8e8;
}

.register-container .bottom-register {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container .bottom-register p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  color: #474747;
}

.register-container .bottom-register button {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #248CC5;
  margin-top: 32px;
  opacity: 0.9;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
}




/* ForgotPassword.jsx styles */

#pass-one-background {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#pass-one-background .pass-one-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pass-one-background .pass-one-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

#pass-one-background .pass-one-mobile img {
  margin-right: 15px;
}

#pass-one-background .pass-one-header {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#pass-one-background .pass-one-header img{
  height: 24px;
  width: 24px;
  margin-left: 5px;
}

.forgot-pass-one {
  margin-top: 60px;
  width: 340px;
  height: 585px;
  border-radius: 26px;
  border: 1px solid #164864;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-pass-one .upper-forgot {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-pass-one .upper-forgot img{
  width: 178px;
  height: 29px;
}

.forgot-pass-one .upper-forgot h4 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #164864;
}

.forgot-pass-one .upper-forgot p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.forgot-pass-one .forgot-form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.forgot-pass-one .forgot-form label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #164864;
}

.forgot-pass-one .forgot-form input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

#forgot-pass-one-popup {
  width: 292px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  margin-top: 5px;
}

#forgot-pass-one-popup p {
  margin: 0;
  color: red;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;

}

.forgot-pass-one .bottom-forgot {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.forgot-pass-one .bottom-forgot button {
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  margin-top: 45px;
  margin-left: 5px;
  color: white;
}

.forgot-pass-one .bottom-forgot button:disabled {
  color: #e8e8e8;
}

.forgot-pass-one .bottom-forgot img {
  width: 235px;
  height: 25px;
  margin-top: 90px;
}

/* ForgotPasswordTwo.jsx */

#pass-two-background {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#pass-two-background .pass-two-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pass-two-background .pass-two-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

#pass-two-background .pass-two-mobile img {
  margin-right: 15px;
}

#pass-two-background .pass-two-header {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#pass-two-background .pass-two-header img {
  height: 24px;
  width: 24px;
  margin-left: 15px;
}

.forgotPass-two-container {
  margin-top: 60px;
  height: 585px;
  width: 340px;
  border-radius: 26px;
  border: 1px solid #164864;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgotPass-two-container img {
  width: 178px;
  height: 29.22px;
}

.forgotPass-two-container h4 {
  color: #164864;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  margin: 15px 0px 15px 0px;
}

.forgotPass-two-container p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #248cc5;
  margin: 0px 0px 15px 0px;
}


.forgotPass-two-container .input-fptwo-container {
  width: 323px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 45px;
}

.forgotPass-two-container .input-fptwo-container input {
  width: 49px;
  height: 55px;
  border-radius: 4px;
  border: 1px solid #248cc5;
  background-color: transparent;
  color: black;
  font-weight: 500;
  font-size: 28px;
  line-height: 33.41px;
  text-align: center;
}

.forgotPass-two-container .bottom-fptwo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.forgotPass-two-container .bottom-fptwo-container .forward {
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  color: white;
}

.forgotPass-two-container .bottom-fptwo-container .ftptwo-paragraph {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.forgotPass-two-container .bottom-fptwo-container .ftptwo-paragraph p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #474747;
  margin-top: 10px;
}

.forgotPass-two-container .bottom-fptwo-container .ftptwo-paragraph button {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: -0.32px;
  color: #248CC5;
  margin-top: 32px;
  opacity: 0.9;
  text-decoration: underline;
  background-color: transparent;
  padding: 0;
  margin-left: 2px;
}

.forgotPass-two-container .bottom-fptwo-container .ftptwo-paragraph img {
  width: 235px;
  height: 25px;
  margin-top: 20px;
}



/* ForgotPasswordThree.jsx */

#pass-three-back {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#pass-three-back .pass-three-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pass-three-back .pass-three-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

#pass-three-back .pass-three-mobile img {
  margin-right: 15px;
}

#pass-three-back .pass-three-header {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#pass-three-back .pass-three-header img {
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

.forgotPassThree-container {
margin-top: 60px;
height: 585px;
width: 340px;
border-radius: 26px;
border: 1px solid #164864;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.forgotPassThree-container .upper-section img {
  height: 29.22px;
  width: 178px;
}

.forgotPassThree-container .upper-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgotPassThree-container .upper-section h4 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.32px;
  color: #164864;
  margin: 10px 0px 10px 0px;
}

.forgotPassThree-container .upper-section h5 {
  font-family: "Montserrat", serif;
  color: #248cc5;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin: 10px 0px 10px 0px;
}

.forgotPassThree-container .middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.forgotPassThree-container .middle-section .middle-one {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.forgotPassThree-container .middle-section .middle-one label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: #164864;
}

.forgotPassThree-container .middle-section .middle-one input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.forgotPassThree-container .middle-section .middle-one input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #7d7d7d;
}

.forgotPassThree-container .middle-section .middle-two {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 27px;
}

.forgotPassThree-container .middle-section .middle-two label {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  color: #164864;
}

.forgotPassThree-container .middle-section .middle-two input {
  width: 282px;
  height: 27px;
  border-radius: 6px;
  padding: 8px;
  background-color: #e8e8e8;
  box-shadow: 0px 2px 4px 0px #aaa8a8;
  border: 0px;
  color: black;
}

.forgotPassThree-container .middle-section .middle-two input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-style: italic;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #7d7d7d;
}

#forgot-pass-three-popup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 292px;
  gap: 5px;
  margin-top: 5px;
}

#forgot-pass-three-popup p {
  margin: 0;
  color: red;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
}

.forgotPassThree-container .bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 45px;
}

.forgotPassThree-container .bottom-section button {
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  color: white;
}

.forgotPassThree-container .bottom-section img {
  width: 235px;
  height: 25px;
  margin-top: 40px;
}

/* ForgotPasswordFour.jsx */

.forgotPassFour-container {
  margin-top: 60px;
  height: 585px;
  width: 340px;
  border-radius: 26px;
  border: 1px solid #164864;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgotPassFour-container img {
  height: 29.22px;
  width: 178px;
}

.forgotPassFour-container .middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

.forgotPassFour-container .middle-section h4 {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #164864;
  letter-spacing: 0.32px;
}

.forgotPassFour-container .middle-section h5{
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #248CC5;
  margin: 0;
}

.forgotPassFour-container .bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.forgotPassFour-container .bottom-section button {
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  margin-top: 16px;
  box-shadow: 0px 2px 4px 0px #999999;
  color: white;
}

.forgotPassFour-container .bottom-section img {
  width: 234px;
  height: 25px;
  margin-top: 80px;
}


/* RegisterSuccessful.jsx */

#success-background {
  width: 390px;
  height: 844px;
  background: linear-gradient(to bottom, #164864, #248CC5);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#success-background .success-mobile {
  width: 390px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#success-background .success-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

#success-background .success-mobile img {
  margin-right: 15px;
}

#success-background .success-header {
  width: 390px;
  height: 61px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#success-background .success-header img {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}


.successful-registration {
  margin-top: 30px;
  width: 340px;
  height: 683.5px;
  border-radius: 26px;
  border: 1px solid #164864;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.successful-registration img {
  width: 178px;
  height: 29.2px;
  margin-top: -130px;
}

.successful-registration .middle-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.successful-registration .middle-section h4{
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #164864;
  margin-top: 200px;
}

.successful-registration .middle-section .text-container {

  width: 237.8px;
  height: 42px;

}

.successful-registration .middle-section .text-container p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #248CC5;
  text-align: center;
}

.successful-registration button {
  margin-top: 100px;
  background: linear-gradient(to bottom, #164864, #2c91ca);
  width: 295px;
  height: 41px;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px #999999;
}


/* MainHeader.jsx */


.main-page {
  width: 390px;
  height: 845px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-page .main-header {

  width: 390px;
  height: 107px;
  background-color: #ffffff;

}

.main-page .main-header .header-mobile {
  width: 390px;
  height: 46px;
  background-color: #164864;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page .main-header .header-mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
  margin-left: 22px;
}

.main-page .main-header .header-mobile img {
  width: 65px;
  height: 16px;
  margin-right: 10px;
}


.main-page .main-header .header-user {
  width: 389px;
  height: 61px;
  background-color: #ffffff;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 4px 0px #999999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-page .main-header .header-user .logo {
  width: 133px;
  height: 22px;
  margin-left: 10px;
}

.main-page .main-header .header-user .avatar {
  width: 32px;
  height: 32px;
}

.main-page .main-header .header-user button {

  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-right: 15px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

/* MainPage.jsx */

.main-page .main-middle {
height: 90%;
width: 390px;
background-color: #ffffff;
display: flex;
justify-content: center;
align-items: center;  
margin-top: 5px;
position: relative;
overflow: auto;
scrollbar-width: none;
}

.main-page .main-middle .middle-slide {
  height: 100%;
  width: 380px;
  background-color: white;
  justify-content: center;
  align-items: center;  
  margin-top: 5px;
  position: absolute;
  left: 8px;
}



/* ShortEspresso.jsx */

.invisible {
  color: transparent;
  font-size: 12px;
}

.short-container {
  display: flex;
  width: 371px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #164864;
  border: 1px solid #248CC5;
  border-radius: 12px;
}

.main-page .main-middle .short-espresso {
  background-color: #164864;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 372px;
  max-height: 267px;
  border-radius: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.main-page .main-middle .short-espresso .left-content {
  width: 114.2px;
  height: 109px;
}

.main-page .main-middle .short-espresso .left-content img {
  width: 114.2px;
  height: 109px;
}

.main-page .main-middle .short-espresso .right-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 255px;
  margin-right: 9px;
}

.main-page .main-middle .short-espresso .right-content .right-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
}

.main-page .main-middle .short-espresso .right-content .right-top h4 {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.main-page .main-middle .short-espresso .right-content .right-top h5 {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.main-page .main-middle .short-espresso .right-content .right-middle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
  margin-top: 7px;
}

.main-page .main-middle .short-espresso .right-content .right-middle p {
  text-align: left;
  margin: 0;
  font-family: "Montserrat", serif;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: -0.32px;
  width: 230px;
  color: #ffffff;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .small-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 255px;
  gap: 10px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 255px;
  gap: 5px;
  margin-top: 4px;
} 

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card button:focus {
  outline: none;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .small-cup {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}



.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .small-cup img {
  width: 35px;
  height: 35px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .medium-cup {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .medium-cup img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .large-cup {
  padding: 0;
  border: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .big-card .large-cup img {
  width: 35px;
  height: 35px;
  margin-left: 5px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom {
  margin-top: 5px;
}

.main-page .main-middle .short-espresso .right-content .right-bottom .small-card .text p {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: -0.32px;

}

.main-page .main-middle .short-espresso .right-content .right-bottom .small-card .text span {

  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;

}

.main-page .main-middle .short-espresso .right-content .right-bottom .small-card button {
  padding: 0;
  border: 0;
  height: 24px;
  width: 24px;
  border-radius: 50px;
  background-color: transparent;
}

/* ShortEspresso,jsx POPUP */

.short-popup {
  width: 372px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.short-popup .popup-options {
  width: 372px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-popup .popup-options .coffe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.short-popup .popup-options .coffe label {
  width: 38px;
  height: 19px;
  padding: 0px;
  background-color: #164864;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.45px;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 8px;
}

.short-popup .popup-options .coffe select {
  width: 153px;
  height: 28px;
  border-radius: 6.89px;
  border: 1.15px solid #faf5e4;
  background-color: #164864;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15.34px;
}

.short-popup .popup-options .coffe option {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15.34px;
}

.short-popup .popup-options .coffe option:first-child {
  display: none;
}

.short-popup .popup-options .milk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-right: 7px;
}

.short-popup .popup-options .milk label {
  width: 49px;
  height: 19px;
  padding: 0px;
  background-color: #164864;
  color: #ffffff;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.45px;
  text-align: center;
  position: absolute;
  left: 15px;
  top: 8px;
}

.short-popup .popup-options .milk select {
  width: 153px;
  height: 28px;
  border-radius: 6.89px;
  border: 1.15px solid #faf5e4;
  background-color: #164864;
  margin-top: 20px;
  margin-left: 10px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15.34px;
}

.short-popup .popup-options .milk option {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 15.34px;
}

.short-popup .popup-options .milk option:first-child {
  display: none;
}

.short-popup .horisontal-line {
  width: 331px;
  border-bottom: 1px solid #248cc5;
  margin-top: 15px;
  line-height: 0;
}

.short-popup .popup-bottom {
  width: 372px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.short-popup .popup-bottom .buy {
  width: 144.33px;
  height: 32px;
  border-radius: 6px;
  padding: 0px 15px 0px 15px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12.3px;
  letter-spacing: 0.47px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #248cc5, #164864);
  margin-right: 7px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.short-popup .popup-bottom .buy img {
  width: 15.43px;
  height: 15.43px;
}

.short-popup .popup-bottom .increase-decrease {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 101px;
  height: 32px;
  gap: 9px;
  margin-left: 7px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.short-popup .popup-bottom .increase-decrease p {

  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.7px;
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
}

.short-popup .popup-bottom .increase-decrease .increase {
  padding: 0;
  background-color: transparent;
  height: 31px;
  width: 31px;
  margin-bottom: 4px;
}

.short-popup .popup-bottom .increase-decrease .increase img {
  height: 31px;
  width: 31px;
  margin-bottom: 4px;
}

.short-popup .popup-bottom .increase-decrease .decrease {
  padding: 0;
  background-color: transparent;
  height: 31px;
  width: 31px;
  margin-bottom: 4px;
}

.short-popup .popup-bottom .increase-decrease .decrease img {
  height: 31px;
  width: 31px;
  margin-bottom: 4px;
}



/* MainFooter.jsx */

.main-page .main-bottom {
max-height: 304px;
width: 390px;
background-color: #248cc5;
display: flex;
flex-direction: column;
border: 1px solid #248cc5;
border-radius: 10px 10px 0px 0px;
}

.main-page .main-bottom .bottom-fixed {
  height: 104px;
  width: 390px;
  background-color: #248cc5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px 10px 0px 0px;
  }

.main-page .main-bottom .bottom-fixed .line{ 
  width: 91.61px;
  height: 4.46px;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.main-page .main-bottom .bottom-fixed .btn-amount {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.main-page .main-bottom .bottom-fixed .btn-amount button {
  height: 32px;
  width: 136px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #ffffff;
  background-color: #164864;
  margin-right: 12px;
}

.main-page .main-bottom .bottom-fixed .btn-amount .sum {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 12px;
}

.main-page .main-bottom .bottom-fixed .btn-amount .sum h4 {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #ffffff;
}

.main-page .main-bottom .bottom-fixed .btn-amount .sum span {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.28px;
  color: #ffffff;
}

.main-page .main-bottom .bottom-fixed .last-line {
  width: 354px;
  height: 0.5px;
  opacity: 0.3;
  background-color: #ffffff;
  margin-top: 7px;
}

.main-page .main-bottom .bottom-variable {
  max-height: 200px;
  width: 390px;
  background-color: #248cc5;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
} 

.main-page .main-bottom .bottom-variable .short-esp-list {
  color: white;
  padding: 0;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 390px;
}

.main-page .main-bottom .bottom-variable .short-esp-list li {
  width: 355px;
  list-style-type: none;
  color: white;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
}

.main-page .main-bottom .bottom-variable .short-esp-list li p {
  margin: 0;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.32px;
  color: #ffffff;
}

.main-page .main-bottom .bottom-variable .short-esp-list li button {
  padding: 0;
  width: 11.5px;
  height: 11.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.main-page .main-bottom .bottom-variable .short-esp-list li button image {
  width: 11.5px;
  height: 11.5px;
}

#separator {
  height: 10px;
}



/* LoyaltyProgram.jsx styles */


.general-loyalty {
  background-color: #ffffff;
  width: 390px;
  height: 845px;
}

.general-loyalty .mobile {
  width: 390px;
  height: 46px;
  background-color: #164864;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general-loyalty .mobile p {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.32px;
  margin-left: 15px;
}

.general-loyalty .mobile img {
  width: 65px;
  height: 16px;
  margin-right: 15px;
}

.general-loyalty .loyalty-header {
  height: 61px;
  width: 390px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px 0px #999999;
}

.general-loyalty .loyalty-header .back {
  width: 24px;
  height: 24;
  padding: 0;
  background-color: transparent;
  margin-left: 15px;
}

.general-loyalty .loyalty-header .back img{
  width: 24px;
  height: 24;
}

.general-loyalty .loyalty-header .log-out {
  padding: 0;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  text-align: center;
  color: #248cc5;
  background-color: transparent;
  margin-right: 15px;
  text-decoration: underline;
}

.general-loyalty .loyalty-profile {
  width: 390px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.general-loyalty .loyalty-profile img {
  width: 93px;
  height: 93px;
}

.general-loyalty .loyalty-profile h4 {
  font-family: "Montserrat", serif;
  color: #164864;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.32px;
  margin: 15px 0px 0px 0px;
}

.general-loyalty .loyalty-profile p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.32px;
  color: #717171;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.general-loyalty .loyalty-promo {
  width: 390px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.general-loyalty .loyalty-promo h4 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -0.32px;
  color: #248cc5;
  margin: 10px 0px 0px 15px;
}

.general-loyalty .loyalty-promo p {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.32px;
  text-align: center;
  color: #717171;
}

.general-loyalty .loyalty-first-row {
  width: 390px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.general-loyalty .loyalty-first-row img {
  width: 75px;
  height: 75px;
}

.general-loyalty .loyalty-second-row {
  width: 390px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.general-loyalty .loyalty-second-row img {
  width: 75px;
  height: 75px;
}

/* OrderStatus.jsx styles */

.order-status {

  width: 390px;
  height: 844px;
  background-color: #ffffff;

}

.order-status .order-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 46px;
  background-color: #164864;
}

.order-status .order-mobile h3 {
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #ffffff;
  margin-left: 15px;
}

.order-status .order-mobile img {

  width: 65px;
  height: 16px;
  margin-right: 15px;

}

.order-status .order-header {

  height: 61px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px #999999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.order-status .order-header button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
  margin-left: 15px;
}

.order-status .order-header button img {
  width: 24px;
  height: 24px;
}

.order-status .order-main-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.order-status .order-main-top p {

  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #248CC5;
  line-height: 21px;
  margin-top: 20px;
}

.order-status .order-main-top p span {
  color: #164864;
}

.order-status .order-main-top .time {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0px 0px 20px 0px;
}

.order-status .order-main-top .time img {
  width: 32.5px;
  height: 32.5px;
}

.order-status .order-main-top .time h3 {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 26px;
  color: #164864;
  margin: 0;
}

.order-status .order-main-top .order-one {
  width: 272px;
  height: 24px;
  margin-top: 20px;
}

.order-status .order-main-top .status {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.order-status .order-main-top .status p {

  margin: 0;
  width: 75px;
  height: 29px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #248CC5;
  text-align: center;
}

.order-status .order-main-top .status h6 {

  margin: 0;
  width: 75px;
  height: 29px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  text-align: center;
}

.order-status .order-main-top .status h5 {

  margin: 0;
  width: 75px;
  height: 29px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #bfbfbf;
  text-align: center;
}

.order-status .order-main-bottom h3 {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 24px;
  color: #164864;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.order-status .order-main-middle {
  width: 355px;
  height: 224px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-status .order-main-middle img {
  width: 355px;
  height: 224px;
}

.order-status .order-main-bottom {

  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 33.38px;
  color: #164864;

}